$font-stack: Georgia ;
$dark-grey: #393939; 
$light-grey: #F0F2EF;
$light-green: #ABD1A5;
$dark-green: #2C9B95;
$blue: #86BBDB;

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

.container {
  width: 100%;

  margin: auto;
}

.content {
  
}

div {
  border: 1px dotted blue;
  display: block;
}

.hero img {
  background-size: cover;
  width: 100%;
}

.hero-text {
  position: relative;
  top: -100px;
  background-color: $blue;
}

.nav-top {
  background-color: $dark-grey;
}

.nav-bottom {
  background-color: $light-grey;
}