* {
  padding: 0px;
  margin: 0px;
  border: 0px; }

.container {
  width: 100%;
  margin: auto; }

div {
  border: 1px dotted blue;
  display: block; }

.hero img {
  background-size: cover;
  width: 100%; }

.hero-text {
  position: relative;
  top: -100px;
  background-color: #86BBDB; }

.nav-top {
  background-color: #393939; }

.nav-bottom {
  background-color: #F0F2EF; }
